body {
  background-color: #e2e8ff;
}


*{
  font-family:"Segoe UI";
  text-align: left;
}

h1{
  color: black;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width:30%;
}

.enyang:hover{
  border-color: mediumpurple;
}

.enyang{
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: white;
}

a:hover{
  color: red;
}
